@layer tailwind {
  @tailwind base;

  @layer base {
    h1 {
      @apply my-4 text-4xl;
    }
    h2 {
      @apply my-2 text-xl;
    }
    h3 {
      @apply my-2 text-lg;
    }
  }
}
@tailwind components;
@tailwind utilities;

@layer utilities {
  .image-rendering-pixelated {
    image-rendering: pixelated;
  }
}

@layer components {
  .canvas {
    @apply absolute left-0 top-0 h-full w-full;
  }
  .slider {
    @apply range block h-6 w-full cursor-pointer appearance-none rounded-full border border-stone-300 bg-white px-1.5 dark:bg-stone-700;
  }

  .range {
    background: transparent !important;
    box-shadow: inset 0px 0px 0px 20px white;
    &::-webkit-slider-runnable-track {
      @apply bg-white;
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      @apply h-3 w-3 rounded-full bg-orange-600 shadow-none;
    }
    &.disabled {
      &::-webkit-slider-thumb {
        @apply bg-stone-300;
      }
    }
  }
}
@media (min-width: 400px) {
  .background-gradient::before {
    background: radial-gradient(
      20% 50% at 50% 50%,
      rgba(71, 127, 247, 0.376) 0%,
      rgba(37, 38, 44, 0) 100%
    );
    z-index: -10;
    content: "";
    position: absolute;
    inset: 0px;
    transform: scale(1);
    pointer-events: none;
  }
}
